<div class="detail-search">
  <h1 class="detail-search-title">詳細検索</h1><br><br>
    <%= search_form_for @p, url: search_products_path do |f| %>
      <%= f.label :product_name_eq, '商品名' %>
      <%= f.collection_select :product_name_eq, @product_name, :product_name, :product_name,  include_blank: '指定なし' %>
      <br>
      <br>
      <%= f.label :category_id_eq, 'カテゴリー：' %> 
      <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: '指定なし' %> 
      <br><br>
      <%= f.label :product_statu_id_eq, '商品状態：'%>
      <%= f.collection_select :product_statu_id_eq, ProductStatu.all , :id, :name, include_blank: '指定なし' %>
      <br> <br>
      <%= f.label :price, '価格：' %>
      <%= f.radio_button :price_lteq, '' %>
      指定なし
      <%= f.radio_button :price_lteq, '1000' %>
      1000円以下
      <%= f.radio_button :price_lteq, '2500' %>
      2500円以下
      <%= f.radio_button :price_lteq, '5000' %>
      5000円以下
      <br><br>
      <%= f.submit '検索' %>
    <% end %>
</div>